name: test-workflow
on: 
  push:
    paths:
      - "./test-workflow/**"
      - ".github/workflows/test-workflow.yml"
    push:
      branches: [ main ]
    pull_request:
      branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      - name: Set up node 
        uses: actions/setup-node@v1
      - name: Install dependencies
        run: npm install
      - name: Run tests
        run: npm test